<div class="recommended_items">
    <!--recommended_items-->
    <h2 class="title text-center">POPÜLER ÜRÜNLERİMİZ</h2>

    <div class="row">
        @for (int j = 0; j < 6 && j < ViewBag.popular.Count; j++)
        {
            var item = ViewBag.popular[j];
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a href="/Product/ProductDetails/@item.Id">
                                <img src="~/Image/@item.Image" class="img-fluid" alt="@item.Name" style="width: 100%; height: auto;" />
                                <h2>@item.Price.ToString("C")</h2>
                                <p>@item.Name</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div><!--/recommended_items-->
